:root {
  --main-color: #212121;
  --main-background-color: #fff;
  --shadow-pattern-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAACNJREFUGFdjnDdv3v+kpCRGBigA8cEcmASMRlEB04FdJTYzAdwIIbhcrs68AAAAAElFTkSuQmCC');
  --human-icon: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAGNJREFUOE/t00kKACAIBVC9/6GLAqPI31y4qK34MAem9nMgzCgNBogIYWKpuQjsYRDVwFFMRT8Y22K/hzNVVkN9ttiyY0dPr3Pmevj6l2dXpjq/vMJVrEAF3MUSGsBTWETtgx7FzhMS6muF3wAAAABJRU5ErkJggg==');
}