.card-wrapper {
  border: 0.1rem solid #000;
  border-right: none;
  border-bottom: none;
  position: relative;
  background: #fff;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-image: var(--shadow-pattern-image);
    background-size: 0.3rem 0.3rem;
    background-repeat: repeat;
  }

  &::before {
    right: -0.6rem;
    bottom: -0.6rem;
    height: 100%;
    width: 0.6rem;
    background-position: left bottom;
  }

  &::after {
    right: 0;
    bottom: -0.6rem;
    width: calc(100% - 0.6rem);
    height: 0.6rem;
    background-position: right bottom;
  }

  &--hoverable {
    &:hover {
      transform: translate(-0.3rem, -0.3rem);

      &::before {
        right: -1.2rem;
        bottom: -1.2rem;
        height: 100%;
        width: 1.2rem;
      }

      &::after {
        right: 0;
        bottom: -1.2rem;
        width: calc(100% - 1.2rem);
        height: 1.2rem;
      }
    }
  }
}