* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Arial', sans-serif;
  background: var(--main-color);
  margin: 0;
  padding: 0;
  font-smooth: none;
  -webkit-font-smoothing: none;
  image-rendering: pixelated;
}

@import '../components/CardWrapper';